// Footer Styles

footer{
	background:url(../img/footer-BG.jpg);
	background-size:cover;
	background-repeat:no-repeat;
    @include span(1);
	position:relative;
	font-family: "futura-pt", sans-serif;
	min-height:450px;
	
	
}

.anchor-bottom{
	position:absolute;
	bottom:150px;
	width:100%;
	
}

.footer-logo{
    @include span(2/10);
	position:absolute;
	bottom:0;
	left:24px;
	
}

.footer-col1{
	@include span(2/10);
	position:absolute;
	bottom:0;
	left:calc(20% + 48px) ;
	
	a{
		display:block;
		line-height:42px;
		font-size:18px;
		text-decoration:none;
		color:#000;
	}
}

.footer-col2{
	@include span(3/10);
	position:absolute;
	bottom:0;
	left:calc(40% + 72px) ;
	
	a{
		display:block;
		line-height:42px;
		font-size:18px;
		text-decoration:none;
		color:#000;
		
		img{
			margin-right:20px;
		}
	}
}

.copyright{
	@include span(1/1);
	text-align:center;
	font-size:8px;
	position:absolute;
	bottom:100px;	
}