// Footer Styles

footer{
	background:url(../img/footer-BG.jpg);
	background-size:cover;
	background-repeat:no-repeat;
    @include span(1/1);
	position:relative;
	font-family: "futura-pt", sans-serif;
	min-height:450px;
	
	
}

.anchor-bottom{
	position:absolute;
	bottom:150px;
	width:100%;
	
	
    @include respond-to(sm) {
		bottom:auto;
		position:relative;
		margin-top:50px;

    }
}

.footer-logo{
    @include span(2/10);
	position:absolute;
	bottom:0;
	left:24px;
	

	.button-container{
		display:none;
	    @include respond-to(sm) {
			display:block;
		
			width:100%;
			margin-left:auto;
			margin-right:auto;
			margin-top:20px;
			
			a{
				text-decoration:none;
			}
			
			a:hover{
				//text-decoration:underline;
			}
			
			.button{
				padding:10px 0px;
				background:$color-1;
				color:white;
				font-size:30px;
				text-transform:uppercase;
				font-weight:700;
				border-radius:10px;
				text-align:center;
			    display: block;
				transition:all .25s;
				cursor:pointer;
			
			}
			
			.button:hover{
				background:$color-1c;
				
			}
		
		}
	}
	
    @include respond-to(sm) {
	    @include span(1/3, $offset: 1/3 );
		position:relative;
		bottom:auto;
		left:auto;
		margin-bottom:20px;
		
    }
	
}

.footer-col1{
	@include span(2/10);
	position:absolute;
	bottom:0;
	left:calc(20% + 48px) ;
	
	a{
		display:block;
		line-height:42px;
		font-size:18px;
		text-decoration:none;
		color:#000;
	}
	
    @include respond-to(sm) {
	    @include span(1/2, $offset:1/4);
		position:relative;
		bottom:auto;
		left:auto;
		border-bottom:2px solid $color-1;
		
		a{
			text-align:center;
		}
		
    }
}

.footer-col2{
	@include span(3/10);
	position:absolute;
	bottom:0;
	left:calc(40% + 72px) ;
	
	a{
		display:block;
		line-height:42px;
		font-size:18px;
		text-decoration:none;
		color:#000;
		
		img{
			margin-right:20px;
		}
	}
	
    @include respond-to(sm) {
	    @include span(1/2, $offset:1/4);
		position:relative;
		bottom:auto;
		left:auto;
		border-bottom:2px solid $color-1;
		
		
		a{
			text-align:center;
		}
		
		img{
			display:none;
		}
		
    }
}

.copyright{
	@include span(1/1);
	text-align:center;
	font-size:8px;
	position:absolute;
	bottom:100px;	
	display:block;
	left:0;
	
	 @include respond-to(sm) {
	 	position:relative;
	 	bottom:auto;	
	 	display:block;
	 	left:auto;
		margin:40px 0;
	 }
	 
}